In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("C:\My\Data.csv")

In [3]:
data.head()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016

In [4]:
data.shape

(660, 15)

In [6]:
data.rename(columns=
           {'Shots Per Avg Match': 'Shots_PAM',
            'xG Per Avg Match': 'xG_PAM',
           'On Target Per Avg Match': 'OnTarget_PAM'},
           inplace = True)
data[:3]

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG_PAM,Shots,OnTarget,Shots_PAM,OnTarget_PAM,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016

In [7]:
data.insert(10,'Round_xG', data.xG_PAM.round())
data.head()

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG_PAM,Round_xG,Shots,OnTarget,Shots_PAM,OnTarget_PAM,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,0.0,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,0.0,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,1.0,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,0.0,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,1.0,50,23,2.72,1.25,2016

In [9]:
data.dtypes

Country            object
League             object
Club               object
Player Names       object
Matches_Played      int64
Substitution        int64
Mins                int64
Goals               int64
xG                float64
xG_PAM            float64
Round_xG          float64
Shots               int64
OnTarget            int64
Shots_PAM         float64
OnTarget_PAM      float64
Year                int64
dtype: object

In [11]:
data['League'] = data['League'].astype('category')
data['Round_xG'] = data['Round_xG'].astype('int')

In [13]:
data.dtypes

Country             object
League            category
Club                object
Player Names        object
Matches_Played       int64
Substitution         int64
Mins                 int64
Goals                int64
xG                 float64
xG_PAM             float64
Round_xG             int64
Shots                int64
OnTarget             int64
Shots_PAM          float64
OnTarget_PAM       float64
Year                 int64
dtype: object

In [14]:
data['Player Names'].nunique()

444

In [15]:
data.Mins.max()

np.int64(4177)

In [16]:
data.Goals.var()

np.float64(35.78975490872305)

In [17]:
data.xG.std()

np.float64(5.724843670305077)

In [19]:
data['xG'].cov(data['xG_PAM'])

np.float64(0.5417500809307031)

In [20]:
data['xG'].corr(data['Mins'])

np.float64(0.7084650794083335)

In [21]:
data.isnull().sum()

Country            0
League             0
Club              34
Player Names       0
Matches_Played     0
Substitution       0
Mins               0
Goals              0
xG                 0
xG_PAM             0
Round_xG           0
Shots              0
OnTarget           0
Shots_PAM          0
OnTarget_PAM       0
Year               0
dtype: int64

In [23]:
data.dropna(inplace=True)

In [25]:
data.duplicated().sum()

np.int64(0)

In [27]:
groups=data.groupby(['Club'])

In [35]:
def print_groups(group_object):
    for name, group in group_object:
        print(name)
        print(group)
        break

In [36]:
print_groups(groups)

('(ACM)',)
     Country          League   Club        Player Names  Matches_Played  \
76   England  Premier League  (ACM)  Zlatan Ibrahimovic              27
224  Germany      Bundesliga  (ACM)          Ante Rebic              23
302      USA             MLS  (ACM)  Zlatan Ibrahimovic              31
398    Italy         Serie A  (ACM)          Ante Rebic              15
558    Italy         Serie A  (ACM)  Zlatan Ibrahimovic               6

     Substitution   Mins  Goals     xG  xG_PAM  Round_xG  Shots  OnTarget  \
76               1  2578     17  15.74    0.58         1    115        45
224              5  2075     11   9.17    0.42         0     61        28
302              0  2998     31  22.72    0.72         1    159        67
398             11  1514     11   6.85    0.43         0     42        20
558              0   557     10   7.92    1.35         1     35        16

     Shots_PAM  OnTarget_PAM  Year
76        4.24          1.66  2016
224       2.79          1.28  2018
302       5.04          2.12  2019
398       2.64          1.25  2019
558       5.97          2.73  2020